name: Format code

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  format:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'pnpm'
    - run: USE_LOCAL_BUILD=true pnpm install
    - name: Run format
      run: pnpm exec prettier '**/*.ts' '**/*.mjs' '**/*.mjs' '**/*.json' --check
    - name: Run linter
      run: pnpm run lint
